In [1]:
%reload_ext nb_black

## Day 26 Lecture 1 Assignment

In this assignment, we will learn about linear regression models and how to plot them using the sklearn library

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

We will load the dataset below that describes the antioxidant quality of lager.

The variables are as follows:
    
The dataset contains 7 variables :

- tpc - Total phenolic content
- ma - melanoidin content
- dsa - DPPH radical scavenging activity
- asa - ABTS radical cation scavenging activity
- orac - Oxygen radical absorbance activity
- rp - Reducing Power
- mca - Metal Chelaing Activity

In [ ]:
lager = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/lager_antioxidant_reg.csv')

In [ ]:
lager.head()

   beer     tpc     ma   dsa   asa  orac    rp    mca
0     1  148.23  13.37  0.66  0.81  3.81  0.45  10.65
1     2  160.38  10.96  0.63  0.64  2.85  0.41  15.47
2     3  170.41   9.22  0.62  0.81  3.34  0.48  15.70
3     4  208.65   9.65  0.90  1.01  3.34  0.50  76.65
4     5  146.03  11.72  0.64  0.90  3.18  0.47   9.39

We would like to predict the level of total phenolic content using the remaining 6 variables.

Start by removing the beer column since this column is the id for the observations.

In [ ]:
# answer below:

Next check the data to make sure there is no missing data. Remove rows containing missing data if it exists.

In [ ]:
# answer below:

Plot the scatter matrix for all variables in the dataset. Do all variables have a pairwise linear relationship?

In [ ]:
# answer below:

We would like to split the data into train and test samples. Use `tpc` as the y column and split the data with 25% of the data in the test sample.

In [ ]:
# answer below:

Using sklearn, train the model and print out the coefficients and intercept.

In [ ]:
# answer below: